<mat-toolbar>
  <span>LOGIN</span>
</mat-toolbar>

<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile>OMS 1.0</mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="login-card">
      <mat-card-title>
        Login
      </mat-card-title>
      <mat-card-content>
        <form class="login-form">
          <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" name="email">
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" name="password" type="password">
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="login()" color="primary">LOGIN</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>Sign Up With Google</mat-grid-tile>
</mat-grid-list>

